@page "/card/{Id:guid}"

@using RothschildHouse.Library.Common.Clients.Contracts;
@using RothschildHouse.Library.Common.Clients.DataContracts;
@using RothschildHouse.Library.Common.Clients.DataContracts.Common;

@inject IRothschildHouseClient rothschildHouseClient

<PageTitle>Card Details</PageTitle>

<h1>Card Details</h1>

@if (response == null)
{
    <strong>There is no information for card with Id @Id</strong>
}
else if (response.Model is not null)
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Id: <strong>@Id</strong></h5>
            <p class="card-text">
                <div>
                    <span>Issuing Network: <strong>@response.Model.IssuingNetwork</strong></span>
                </div>
                
                <div>
                    <span>Cardholder Name: <strong>@response.Model.CardholderName</strong></span>
                </div>
                
                <div>
                    <span>Card Number: <strong>@response.Model.CardNumber</strong></span>
                </div>
                
                <div>
                    <span>Expiration Date: <strong>@response.Model.ExpirationDate</strong></span>
                </div>

                <div>
                    <span>CVV: <strong>@response.Model.Cvv</strong></span>
                </div>
            </p>
        </div>
    </div>

    <hr />

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Status</th>
                <th scope="col">Client application</th>
                <th scope="col">Total</th>
                <th scope="col">Currency</th>
                <th scope="col">Creation DateTime</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in response.Model.PaymentTransactions)
            {
                <tr>
                    <td scope="row">@item.Id</td>
                    <td>@item.PaymentTransactionStatus</td>
                    <td>@item.ClientApplication</td>
                    <td>@item.OrderTotal</td>
                    <td>@item.Currency</td>
                    <td>@item.CreationDateTime.ToDateTimeString()</td>
                    <td>
                        <a href="@($"/payment-transaction/{item.Id}")">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a href="@($"/card")">Back</a>
}

@code {
    [Parameter]
    public Guid? Id { get; set; }

    private SingleResponse<CardDetailsModel> response;

    protected override async Task OnInitializedAsync()
    {
        response = await rothschildHouseClient.GetCardAsync(Id);
    }
}
