@page "/card/{Id:guid}"

@using RothschildHouse.Library.Common.Clients;
@using RothschildHouse.Library.Common.Clients.Models.Common;
@using RothschildHouse.Library.Common.Clients.Models.PaymentGateway;

@inject PaymentGatewayClient rothschildHouseClient

<PageTitle>Card Details</PageTitle>

<h1>Card Details</h1>

@if (response == null)
{
    <strong>There is no information for card with Id @Id</strong>
}
else if (response.Model is not null)
{
    <h2>@response.Model.Id</h2>

    <MudGrid>
        <MudItem lg="4" md="6" sm="12">
            <MudPaper Class="pa-4">
                <MudText Typo="Typo.body2">Card Type: <strong>@response.Model.CardType</strong></MudText>
                <MudText Typo="Typo.body2">Issuing Network: <strong>@response.Model.IssuingNetwork</strong></MudText>
                <MudText Typo="Typo.body2">Cardholder Name: <strong>@response.Model.CardholderName</strong></MudText>
                <MudText Typo="Typo.body2">Last 4 Digits: <strong>@response.Model.Last4Digits</strong></MudText>
                <MudText Typo="Typo.body2">Expiration Date: <strong>@response.Model.ExpirationDate</strong></MudText>
                <MudText Typo="Typo.body2">CVV: <strong>@response.Model.Cvv</strong></MudText>
            </MudPaper>
        </MudItem>
    </MudGrid>

    <br />

    <MudDivider />

    <br />

    <h2>Transactions</h2>

    <MudDataGrid Items="@response.Model.Transactions">
        <Columns>
            <PropertyColumn Property="x => x.TransactionStatus" Title="Status" />
            <PropertyColumn Property="x => x.ClientApplication" Title="Client Application" />
            <PropertyColumn Property="x => x.OrderTotal" Title="Order Total" />
            <PropertyColumn Property="x => x.Currency" Title="Currency" />
            <PropertyColumn Property="x => x.CreationDateTime" Title="Created on" />
            <TemplateColumn CellClass="d-flex justify-end">
                <CellTemplate>
                    <MudStack Row>
                        <MudLink Href="@($"/transaction/{context.Item.Id}")">Details</MudLink>
                    </MudStack>
                </CellTemplate>
            </TemplateColumn>
        </Columns>
    </MudDataGrid>
}

@code {
    [Parameter]
    public Guid? Id { get; set; }

    private SingleResponse<CardDetailsModel> response;

    protected override async Task OnInitializedAsync()
    {
        response = await rothschildHouseClient.GetCardAsync(Id);
    }
}
