@page "/"

@using Microsoft.AspNetCore.SignalR.Client;
@using RothschildHouse.Library.Common.Clients;
@using RothschildHouse.Library.Common.Clients.Models.Reports;

@inject ReportsClient reportsClient;
@inject IConfiguration configuration;

<PageTitle>Home</PageTitle>

<MudText Typo="Typo.h4" GutterBottom="true">Welcome =)!</MudText>
<MudText Class="mb-8">Welcome to RothschildHouse, powered by MudBlazor!</MudText>

<MudText Typo="Typo.h3" GutterBottom="true">Yearly Sales</MudText>

<MudChart ChartOptions="@chartOptions" ChartType="ChartType.Bar" ChartSeries="@series" XAxisLabels="@xAxisLabels" @bind-SelectedIndex="selectedSerie" Width="100%" Height="500px">
</MudChart>

<h2>Notifications</h2>

<p>Connected: <strong>@(IsConnected.ToString())</strong></p>

<ul id="messagesList">
    @foreach (var message in messages.Take(10))
    {
        <li>@message</li>
    }
</ul>

<hr />

<MudAlert Severity="Severity.Normal">You can find documentation and examples on our website here: <MudLink Href="https://mudblazor.com" Typo="Typo.body2" Color="Color.Inherit"><b>www.mudblazor.com</b></MudLink></MudAlert>

@code {
    YearlySalesResponse yearlySalesResponse;

    ChartOptions chartOptions;
    List<ChartSeries> series;
    string[] xAxisLabels;
    int selectedSerie = -1;

    HubConnection hubConnection;
    List<string> messages = new();

    async Task LoadChartAsync()
    {
        chartOptions = new ChartOptions { YAxisTicks = 500 };
        series = new();
        xAxisLabels = new string[] { };

        yearlySalesResponse = await reportsClient.GetYearlySalesAsync(DateTime.Now.Year);
        xAxisLabels = yearlySalesResponse.Months.ToArray();

        foreach (var item in yearlySalesResponse.Sales)
        {
            series.Add(new ChartSeries
            {
                Name = item.ClientApplication,
                Data = item.Values.ToArray()
            });
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadChartAsync();

        messages.Add($"{DateTime.Now} Initializing connection with hub...");

        hubConnection = new HubConnectionBuilder()
            .AddJsonProtocol()
            .WithUrl(configuration["Hubs:PaymentTxn"])
            .ConfigureLogging(logging => logging.SetMinimumLevel(LogLevel.Information))
            .Build()
            ;

        hubConnection.On<string, decimal, string>("receivePaymentTxn", async (clientApplication, amount, currency) =>
        {
            messages.Insert(0, $"{DateTime.Now} Received txn from '{clientApplication}' client, total: '{amount} {currency}'");

            await InvokeAsync(StateHasChanged);
            await LoadChartAsync();
        });
        
        await hubConnection.StartAsync();
    }

    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
            await hubConnection.DisposeAsync();
    }
}
