@page "/txn/{Id:long}"

@using RothschildHouse.Library.Common.Clients;
@using RothschildHouse.Library.Common.Clients.Models.Common;
@using RothschildHouse.Library.Common.Clients.Models.PaymentGateway;

@inject PaymentGatewayClient rothschildHouseClient

<style>
    .request-content {
        color: green;
        font-size: 11px;
    }

    .response-content {
        color: blue;
        font-size: 11px;
    }
</style>

<PageTitle>Transaction Details</PageTitle>

<h1>Transaction Details</h1>

@if (response == null)
{
    <strong>There is no information for transaction with Id @Id</strong>
}
else if (response.Model is not null)
{
    <h2>@response.Model.Id</h2>

    <MudGrid>
        <MudItem lg="4" md="6" sm="12">
            <MudPaper Class="pa-4">
                <MudText Typo="Typo.body2">Client application: <strong>@response.Model.ClientApplication</strong></MudText>
                <MudText Typo="Typo.body2">Customer: <strong>@response.Model.Customer</strong></MudText>
                <MudText Typo="Typo.body2">CardType: <strong>@response.Model.CardType</strong></MudText>
                <MudText Typo="Typo.body2">Issuing Network: <strong>@response.Model.IssuingNetwork</strong></MudText>
                <MudText Typo="Typo.body2">Cardholder Name: <strong>@response.Model.CardholderName</strong></MudText>
                <MudText Typo="Typo.body2">Order total: <strong>@response.Model.OrderTotal</strong></MudText>
                <MudText Typo="Typo.body2">Currency: <strong>@response.Model.Currency</strong></MudText>
            </MudPaper>
        </MudItem>
    </MudGrid>

    <br />

    <MudDivider />

    <br />

    <h2>Logs</h2>

    @foreach (var item in response.Model.Logs)
    {
        <MudCard>
            <MudCardHeader>
                <MudCardContent>
                    <MudText>Status: <strong>@item.TransactionStatus</strong></MudText>
                </MudCardContent>
            </MudCardHeader>
            <MudCardContent>
                <MudText>Type: <strong>@item.LogType</strong></MudText>
                <MudText>Created on: <strong>@item.CreationDateTime</strong></MudText>
                <MudText>Notes: <i>@item.Notes</i></MudText>
                <MudText>Content Type: <strong>@item.ContentType</strong></MudText>
                <MudText>Content: <pre class="@(item.LogType == "Request" ? "request-content" : "response-content")">@item.Content</pre></MudText>
            </MudCardContent>
        </MudCard>

        <br />

        <MudDivider />
    }
}

@code {
    [Parameter]
    public long? Id { get; set; }

    private SingleResponse<TransactionDetailsModel> response;

    protected override async Task OnInitializedAsync()
    {
        response = await rothschildHouseClient.GetTransactionAsync(Id);
    }
}
